<h1>New Application</h1>
<%= form_with url: "/applications/", method: :post, data: { turbo: false } do |f| %>
  <p><%= f.label "Name" %>
  <%= f.text_field :name %></p>

  <p><%= f.label "Street Address" %>
  <%= f.text_field :street_address %></p>

  <p><%= f.label "City" %>
  <%= f.text_field :city %></p>

  <p><%= f.label "State" %>
  <%= f.text_field :state %></p>

  <p><%= f.label "Zip Code" %>
  <%= f.number_field :zipcode %></p>

  <p><%= f.label "Why I would make a good home for the below listed pet(s)" %>
  <%= f.text_field :description %></p>

  <p><%= f.submit "Submit Application" %></p>
<% end %>